h1 {
    font: size 5px;
 }

 .first1 {
     color: brown;
}

.first1:hover {
 font-size: large;
 color: red;
 cursor: pointer;
}

#second {
 font-size: 20px;
}

#second.hover {
 width: fit-content;
 font-size: 5em;
}

.second {
 background-color: black;
 color: whitesmoke;
}

.toluwa {
 color: violet;
}

.K {
 color: orangered;

}


header nav ul li {
    display: inlineblock;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



p {
    border: 1px solid black
}

h1 {
    color: red;
 }
 .shop {
    color: blue;
 }
 #hi {
    color: darkred;
 }
 header nav ul li {
    display: inline-block;
 }

p {
    border: 1px solid black;
}

#edibles {
    border: 1px solid black;
    width: 80vw;
    margin: auto;
    padding: 20px;
}

#edibles .cont {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.sub-edibles {
    width: 300px;
}

main {
    display: flex;
}
.mainsection {
    border:1px solid black;

    flex: 80%;
}
aside {
    flex: 20%;
    border: 1px solid black;
}



h1 {
    color: aquamarine;
}

.shop {
    color: chocolate;
}


h3 {
    color: darkred;
}

.Shop {
    color: burlywood;
}

header {
    background-color: rgba(27, 26, 26, 0.5);
    line-height: 80px;
}

header nav {
    display: flex;
    justify-content:space-between;
}

header nav .logo {
    font-size: 3em;
    color: aliceblue;
    font-weight: bold;
}

header nav ul {
    margin-right: 30px;
}

header nav ul li {
    display: inline-block;
    margin-right: 8px;
}

header nav ul li a {
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

main {
    padding-top: 60px;
}

.formCont {
    margin: auto;
    width: 400px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
}

.formCont form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formCont form .tab {
    margin-block-end: 10px;
}

.formCont form .tab input {
    width: 100%;
}

.formCont h3 {
    padding: 5px;
}
footer {
    background-color: rgba(163, 131, 131, 0.5);
    position: absolute;
    width: 100%;
    bottom: auto
}


footer .article{
    display: flex;
    justify-content: center;
    align-items: center;
}


footer .copyright {
    text-align: center;
}